.page-header__wrapper-top,
.page-footer__wrapper {
  background-color: rgba(255,255,255,1.0);
  box-shadow: none;
}

@media (min-width: 768px) {
  .page-header__wrapper-top {
    width: auto;
    background-color: rgba(230,0,60,1.0);
    box-shadow: 0 7px 5px -5px rgba(0,0,0,0.5);
  }
  
  .page-header__top {
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    width: auto;
    background-color: rgba(230,0,60,1.0);
  }
}

